# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep = '\t')

### Step 4. How many products cost more than $10.00?

In [3]:
dollar_float = lambda x : float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollar_float)
chipo.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [4]:
chipo[chipo['item_price'] > 10][['choice_description', 'quantity']]

                                     choice_description  quantity
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...         2
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...         1
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...         1
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...         1
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...         1
...                                                 ...       ...
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...         1
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...         1
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...         1
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...         1
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...         1

[1130 rows x 2 columns]

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [5]:
chipo[['item_name', 'item_price']]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [6]:
chipo['item_name'].sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [7]:
m = chipo.groupby('item_price').sum()
m.sort_values(['item_price'], ascending = False)['quantity'].head(1)

item_price
44.25    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [8]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl']['quantity'].sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [9]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]['quantity'].value_counts().sum()

20